# Grant permissions to Numato Opsis board.

# In unconfigured mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5440", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

# In JTAG/firmware upload mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5441", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5441", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis", ENV{ID_HDMI2USB_TTY}:=""

# In production mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis", ENV{ID_HDMI2USB_TTY}:=""

SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

# TOFE LowSpeedIO board
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5445", \
	MODE:="0660", GROUP:="video"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5445", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis", ENV{ID_HDMI2USB_TTY}:="-aux"
