# Grant permissions to Digilent Atlys board.

# With the Digilent firmware
SUBSYSTEM=="usb", ATTRS{idVendor}=="1443", ATTRS{idProduct}=="0007", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys"

# In unconfigured mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b5", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys"

# In JTAG/firmware upload mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b6", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys"

SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b6", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys", ENV{ID_HDMI2USB_TTY}:=""

# In production mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b7", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys"

SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b7", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys", ENV{ID_HDMI2USB_TTY}:=""

SUBSYSTEM=="video4linux", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60b7", \
	ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="atlys"

# Exar "USB UART" on the Atlys
# FIXME: Add an ATTRS{idProduct} here
SUBSYSTEM=="usb", ATTRS{idVendor}=="04e2", \
	MODE:="0660", GROUP:="video"
SUBSYSTEM=="tty", ATTRS{idVendor}=="04e2", \
	MODE:="0660", GROUP:="video", \
	ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_CANDIDATE}:="0"
