# Grant everyone permission to the HDMI2USB devices.

# USB device for using fxload
SUBSYSTEM=="usb", DRIVER=="usb", ENV{ID_HDMI2USB}=="1", \
	MODE:="0666"

# Serial control console
SUBSYSTEM=="tty", ENV{ID_HDMI2USB}=="1", \
	MODE:="0666"

# Video capture device
SUBSYSTEM=="video4linux", ENV{ID_HDMI2USB}=="1", \
	MODE:="0666"

# Allow the user to unbind the kernel drivers attached to the device
SUBSYSTEM=="usb", DRIVER=="usb", ENV{ID_HDMI2USB}=="1", \
	TEST=="$sys$env{DEVPATH}/driver/unbind" \
	RUN+="/bin/chmod 0666 $sys$env{DEVPATH}/driver/unbind"

SUBSYSTEM=="tty", ENV{ID_HDMI2USB}=="1", \
	TEST=="$sys$env{DEVPATH}/../../driver/unbind" \
	RUN+="/bin/chmod 0666 $sys$env{DEVPATH}/../../driver/unbind"

SUBSYSTEM=="video4linux", ENV{ID_HDMI2USB}=="1", \
	TEST=="$sys$env{DEVPATH}/../../driver/unbind" \
	RUN+="/bin/chmod 0666 $sys$env{DEVPATH}/../../driver/unbind"
