# Grant permissions to Numato USB devices.

# In unconfigured mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5440", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

# In JTAG/firmware upload mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5441", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5441", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis", ENV{ID_MM_DEVICE_IGNORE}:="1", ENV{ID_MM_CANDIDATE}:="0"

# In production mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis", ENV{ID_MM_DEVICE_IGNORE}:="1", ENV{ID_MM_CANDIDATE}:="0"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5442", MODE:="0666", ENV{ID_HDMI2USB}:="1", ENV{ID_HDMI2USB_BOARD}:="opsis"

# TOFE LowSpeedIO board
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5445", MODE:="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2a19", ATTRS{idProduct}=="5445", MODE:="0666", ENV{ID_MM_DEVICE_IGNORE}:="1", ENV{ID_MM_CANDIDATE}:="0"
